<section class="producers">
	<h1>Resultat</h1>
	<a href="/scrape">Skrapa Igen</a>
	{{#each producers}}
		<article class="producer">
			{{#if lastScraped}}
				<p>Senast skrapad: {{lastScraped}}</p>
			{{/if}}

			{{#if count}}
				<p>Antal skarpningar: {{count}}</p>
			{{/if}}	

			<h2>{{name}}</h2>

			<p>ID: {{producerID}}</p>

			{{#if imgSrc}}
				<img src="{{imgSrc}}" width="480px">	
			{{else}}
				<p>Bild saknas</p>
			{{/if}}

			<p>{{city}}</p>

			{{#if website}}
				<a href="{{website}}">{{website}}</a>
			{{else}}
				<p>Webbplats sakans</p>
			{{/if}}
		</article>
	{{/each}}

	{{#if brokenLinks}}
		<h3>Kunde inte skrapa följande sidor</h3>
		<ul>
		{{#each brokenLinks}}
			<li>{{brokenLink}}</li>
		{{/each}}
		</ul>
	{{/if}}
</section>
